body {
  margin: 0;
  padding: 0;
  background: url("Fond.png") no-repeat center center fixed;
  background-size: cover;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form-container input {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mform {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  width: 500px;
}

label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 6px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #dbc253, #75682c);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: 16px;
  background-color: #f9f9f9;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px #d4af37;
}

.custom-button {
  margin: 25px 0;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to right, #dbc253, #75682c);
  color: #20201f;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: background-image 0.3s ease;
}

.custom-button:hover {
  background-image: linear-gradient(to right, #bdaf3a, #5b4d22);
}

.forgot-password {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mform {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .mform {
    max-width: 340px;
  }
}
