body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: url("photo.png") no-repeat center center fixed;
  background-size: cover;
  color: #333;
  padding: 0;
}

form {
  all: unset;
}

.logo {
  height: 100px;
  width: auto;
  margin-right: 20px;
}

.faq-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.faq-section {
  cursor: pointer;
  padding: 10px;
  background: #f1f1f1;
  margin: 10px 0;
  border-radius: 5px;
  transition: background 0.3s;
}

.faq-section:hover {
  background: #ddd;
}

.faq-content {
  display: none;
  padding: 10px;
  margin: 10px 0;
  border-left: 4px solid #007bff;
}

.padding {
  padding-top: 160px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .faq-container {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .faq-container {
    max-width: 340px;
  }
}
